- if params[:is_peripheral] == "true"
  - content_for :title, "Add peripheral"
- else
  - content_for :title, "Create asset"

%section.hero
  .hero-body
    .container.has-text-centered
      = render partial: 'layouts/flash'

      .column.is-10.is-offset-1
        - if params[:is_peripheral] == "true"
          %h3.title Add peripheral
        - else
          %h3.title Create asset
        .box
          = simple_form_for(@item) do |f|
            - if params[:is_peripheral].blank?
              %h4.title Asset Information
            - else
              %h4.title Peripheral Information
              .field.is-horizontal
                .field-label.is-normal
                  %label.label Parent Assets
                .field-body
                  .field{style: 'margin: auto'}
                    .control
                      = f.select :add_parents, @items.map { |i| [i.name + ' (' + i.serial + ')', i.id] }, {}, {class: 'select2', multiple: ''}
                      = f.hidden_field :is_peripheral, value: true
            .field.is-horizontal
              .field-label.is-normal
                - if params[:is_peripheral] == "true"
                  %label.label Peripheral Name*
                - else
                  %label.label Asset Name*
              .field-body
                .field
                  %p.control.is-expanded
                    - if params[:is_peripheral] == "true"
                      = f.input :name, label: false, required: '', placeholder: 'Peripheral Name', input_html: {class: 'input'}
                    - else
                      = f.input :name, label: false, required: '', placeholder: 'Asset Name', input_html: {class: 'input'}
            .field.is-horizontal
              .field-label.is-normal
                %label.label Serial*
              .field-body
                .field
                  %p.control.is-expanded
                    = f.input :serial, label: false, required: '', placeholder: 'Serial', input_html: {class: 'input'}
                  %p.help Put a temporary serial here if the asset has not been purchased yet
            .field.is-horizontal
              .field-label.is-normal
                %label.label Category*
              .field-body
                .field{style: 'margin: auto'}
                  .control
                    = f.association :category, label: false, input_html: {class: 'select2'}, label_method: lambda{|category| "#{category.name}"}, include_blank: false
            .field.is-horizontal
              .field-label.is-normal
                %label.label Storage Location*
              .field-body
                .field
                  .control
                    = f.input :location, label: false, required: '', placeholder: 'Storage location', input_html: {class: 'input'}
            .field.is-horizontal
              .field-label.is-normal
                %label.label Manufacturer
              .field-body
                .field
                  %p.control.is-expanded
                    = f.input :manufacturer, label: false, placeholder: 'Manufacturer', input_html: {class: 'input'}
            .field.is-horizontal
              .field-label.is-normal
                %label.label Model
              .field-body
                .field
                  %p.control.is-expanded
                    = f.input :model, label: false, placeholder: 'Model', input_html: {class: 'input'}
            .field.is-horizontal
              .field-label.is-normal
                %label.label Condition
              .field-body
                .field{style: 'margin: auto'}
                  .control
                    = f.select :condition, ['Like New', 'Good', 'Adequate', 'Damaged', 'Missing', 'Retired'], {}, {class: 'select2'}
            .field.is-horizontal
              .field-label.is-normal
                %label.label Keywords
              .field-body
                .field
                  .control
                    = f.input :keywords, as: :text, label: false, required: false, placeholder: 'fragile shiny blue_colour', input_html: {class: 'textarea', rows: '2'}
            .field.is-horizontal
              .field-label.is-normal
                %label.label Upload Image
              .field-body
                .field
                  .file.has-name.is-fullwidth
                    %label.file-label
                      = f.input :image, label: false, input_html: {class: 'file-input', type: 'file', accept: 'image/*', maxfilesize: '1', mindimensions: '500x500'}
                      %span.file-cta
                        %span.file-icon
                          %i.fas.fa-upload
                        %span.file-label
                          Choose a file…
                      %span.file-name#file_name
                        Uploaded file name
                  %p.help Max file size: 1MB
                  %p.help Images < 500x500 px will be invalid
                  %p.help (*) fields must be filled
            .field.is-horizontal
              .field-label.is-normal
                %label.label Comments
              .field-body
                .field
                  .control
                    = f.input :comment, as: :text, label: false, required: false, placeholder: 'Place your comments here', input_html: {class: 'textarea', rows: '2'}
            %br
            %hr
            %br
            %h4.title
              Purchase Information
            .field.is-horizontal
              .field-label.is-normal
                %label.label PO Number
              .field-body
                .field
                  %p.control.is-expanded
                    = f.input :po_number, label: false, placeholder: 'Purchase Order Number', input_html: {class: 'input'}
            .field.is-horizontal
              .field-label.is-normal
                %label.label Acquisition Date
              .field-body
                .field.is-expanded
                  .field.has-addons
                    %p.control
                      %a.button.is-static
                        %i.far.fa-calendar-alt
                    .field-body
                      .field
                        %p.control.is-expanded
                          = f.input :acquisition_date, as: :string, label: false, placeholder: 'Select Date DD MMMM YYYY', input_html: {class: 'input', id: 'purchaseDate', style: 'resize: none'}
            .field.is-horizontal
              .field-label.is-normal
                %label.label Purchase Price
              .field-body
                .field.is-expanded
                  .field.has-addons
                    %p.control
                      %a.button.is-static
                        &pound
                    .field-body
                      .field
                        %p.control.is-expanded
                          = f.input :purchase_price, label: false, placeholder: 'Purchase Price', input_html: {class: 'input', type:'number', min: '0', step:'0.1', onkeypress:'return (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46)'}
            %br
            %br
            .field.is-horizontal
              .field-label.has-text-left
                -#Left empty for spacing
              .field-body
                .field.is-grouped.is-grouped-right
                  .control
                    - if params[:item_id].blank?
                      = link_to 'Cancel', items_path, class: 'button is-light'
                    - else
                      = link_to 'Cancel', @parent, class: 'button is-light'
                  .control
                    = f.submit 'Create asset', class: 'button is-block is-link', id: 'submitButton'
